/* .final-button {
  height: 30px;
  border-radius: 10px;
  background-color: blueviolet;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.final-button:hover {
  cursor: pointer;
  background-color: rgb(103, 32, 168);
}
 */